
*{
    margin: 0;
}
header,footer{
    height: 25vh;
    font-style: bold;
    color: white;
    text-decoration: none;
    background-color: black;
    padding-bottom: 5px;
}

a{
    color: white;
    text-decoration: none;
    font-style: bold;
    padding-left: 270px;;
    font-size: larger;

}

html{
    background-color: rgb(#1F354C);
}

.logo{
    text-align: center;

}

body{
    background-image: url("background_1.png");
    
}
section{
    display: flex;
    flex-direction: row;
}
.container{
    display: flex;
    flex-direction: row;

}
.child{
    width: 50%;
    height: 70%;
    background-color: none;
}

    
.child1{
    font-size: 15px;
    text-align:left;
    padding-top: 100px;
    padding-left: 15px;
    
}
h1{
    color: white;
    text-align: center;
    position: center;
    padding-bottom: 20px;
    padding-top: 30px;
    padding-right: 40px;
    
}
p#primeiro{
    text-align: justify;
    position: center;
    padding-right: 150px;
    padding-top: 20px;

}
.child3{
    font-size: 15px;
    text-align:right;
    padding-top: 100px;
    padding-right: 15px;
}
p#segundo{
    text-align: justify;
    padding-right: 40px;
    font-size: 20px;
}
p#terceiro{
    text-align: justify;
    padding-left: 150px;
    padding-top: 20px;
}
